*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(5, 5, 24, 0.918);
    color: white;
    font-family: sans-serif;
    
}

#face-icon{
    max-width: 100%;
    height: 90px;
    border-radius: 50%;
    border: white solid 2px;
}

.container{
    width: 50%;
    display: flex;
    
}
#main{
    background-color: rgb(89, 89, 230);
    width: 200px;
    height: 330px;
    border-radius: 12px;
    padding-left: 9%;
    padding-top: 10%;
}
#main-part{
    background-color: rgb(33, 33, 95);
    height: 200px;
    border-radius: 9%;
    padding: 25px;
}
h2{
    padding-top: 9%;
}

h1{
    font-size: 36px;
}

p{
    color: rgb(117, 125, 236);
}

section{
    background-color: rgba(10, 10, 53, 0.664);
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin-left: 4%;
    margin-top: 3%;
    text-align: center;
    
}

#adjust{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

#sect_ion{
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
}
.sec_1::before{
    content:'';
    background-color: rgb(228, 127, 87);
    display: block;
    width:100%;
    height: 60px;
    border-radius: 10%;
    background-image: url(images/icon-work.svg);
    
}
.sec_2::before{
    content:'';
    background-color: rgb(98, 191, 235);
    display: block;
    width:100%;
    height: 60px;
    border-radius: 10%;
    background-image: url(images/icon-study.svg);
}

.sec_3::before{
    content:'';
    background-color: rgb(231, 80, 143);
    display: block;
    width:100%;
    height: 60px;
    border-radius: 10%;
    background-image: url(images/icon-social.svg);
}

.sec_4::before{
    content:'';
    background-color: rgb(68, 194, 106);
    display: block;
    width:100%;
    height: 60px;
    border-radius: 10%;
    background-image: url(images/icon-self-care.svg);
}

.sec_5::before{
    content:'';
    background-color: rgb(55, 34, 121);
    display: block;
    width:100%;
    height: 60px;
    border-radius: 10%;
    background-image: url(images/icon-play.svg);
}

.sec_6::before{
    content:'';
    background-color: rgb(207, 187, 73);
    display: block;
    width:100%;
    height: 60px;
    border-radius: 10%;
    background-image: url(images/icon-exercise.svg);
}
section:hover{
    background-color: rgba(43, 59, 129, 0.596);
    cursor: pointer;
}
h2:hover{
    color: rgba(71, 95, 199, 0.616);
    cursor: pointer;
}



@media(max-width:480px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: rgba(5, 5, 24, 0.918);
        color: white;
        font-family: sans-serif;
    }
    
    #face-icon{
        max-width: 100%;
        height: 50px;
        border-radius: 50%;
        border: white solid 2px;
    }
    #main{
        background-color: rgb(89, 89, 230);
        width: 240px;
        height: 80px;
        border-radius: 12px;
        padding-left: 9%;
        padding-top: 1%;
    }
   
    #main-part{
        margin: auto;
        background-color: rgb(33, 33, 95);
        width: 240px;
        height: 150px;
        border-radius: 9%;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    h2{
        font-size: 17px;
        display: inline-block;
    }
    
    h1{
        font-size: 26px;
    }
    
    p{
        color: rgb(117, 125, 236);
    }
    
    section{
        background-color: rgba(10, 10, 53, 0.664);
        width: 400px;
        height: 200px;
        border-radius: 10%;
        text-align: center;
        margin-top: 8%;
        
    }
    

    header{
        height: max-content;
    }

    #adjust{
       margin-top: 5%;
    }
    
    .sec_1::before{
        content:'';
        background-color: rgb(228, 127, 87);
        display: block;
        width:100%;
        height: 60px;
        border-radius: 10%;
        background-image: url(images/icon-work.svg);
        
    }
    .sec_2::before{
        content:'';
        background-color: rgb(98, 191, 235);
        display: block;
        width:100%;
        height: 60px;
        border-radius: 10%;
        background-image: url(images/icon-study.svg);
    }
    
    .sec_3::before{
        content:'';
        background-color: rgb(231, 80, 143);
        display: block;
        width:100%;
        height: 60px;
        border-radius: 10%;
        background-image: url(images/icon-social.svg);
    }
    
    .sec_4::before{
        content:'';
        background-color: rgb(68, 194, 106);
        display: block;
        width:100%;
        height: 60px;
        border-radius: 10%;
        background-image: url(images/icon-self-care.svg);
    }
    
    .sec_5::before{
        content:'';
        background-color: rgb(55, 34, 121);
        display: block;
        width:100%;
        height: 60px;
        border-radius: 10%;
        background-image: url(images/icon-play.svg);
    }
    
    .sec_6::before{
        content:'';
        background-color: rgb(207, 187, 73);
        display: block;
        width:100%;
        height: 60px;
        border-radius: 10%;
        background-image: url(images/icon-exercise.svg);
    }
    section:hover{
        background-color: rgba(43, 59, 129, 0.596);
        cursor: pointer;
    }
    h2:hover{
        color: rgba(71, 95, 199, 0.616);
        cursor: pointer;
    }
    


}